@use "all" as *;

.page-heading-main-section {
    width: $max-width;
    height: 100vh;
    @include flex-layout(center);
    position: relative;

    .page-heading-section {
        @extend .for-hero-text-and-heading;

        h1 {
            color: var(--black);
            font-family: $font4;
            font-size: 1.3rem;
            text-transform: capitalize;
            letter-spacing: 2.1px;
            text-align: center;
        }

        .page-heading-seperator {
            width: 100%;
            height: 1px;
            background: var(--border-color);
            margin: 9px 0;
        }

        .courseHeading {
            @extend .animated-text-logo;
            font-family: $font2;
        }
    }

    .wave1 {
        @extend .wave;
    }
}

.course-section-main-wrap {
    width: $max-width;
    padding: 193px 0;
    height: auto;
    position: relative;
    @include flex-layout(center);
    flex-direction: column;

    .wave1 {
        @extend .wave1;
    }

    .course-section-wrap {
        width: $med-width;
        background: var(--primary-bg);
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        border: 1px solid var(--border-color);
        padding: 29px;

        // coading hading
        .course-head-introduction {
            font-size: 1.3rem;
            letter-spacing: 1.7px;
            font-family: $font5;
            color: var(--black);
            text-transform: capitalize;
            margin: 9px 0;
            ;
            position: relative;
            padding: 9px 0;
        }

        .course-head-introduction::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: var(--border-color);
            bottom: 0;
            left: 0;
        }

        .cousr-codeing-here {
            width: 100%;
            background: var(--cod-bg);
            padding: 11px 15px;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            border-left: 3px solid var(--coading-wrap-left-border);
        }
    }
}

// for color text and coading text
.example {
    color: var(--black);
    margin: 7px 0;
    text-transform: capitalize;
    font-size: 1.3rem;
    display: inline-block;
    letter-spacing: 1px;
}

.blue-color {
    text-transform: uppercase;
    display: inline-block;
    color: var(--blue-color);
    letter-spacing: 1.3px;
}

.black-color {
    color: var(--black);
    text-transform: capitalize;
}

.coading-comment {
    display: inline-block;
    margin: 15px 0;
    color: var(--black);
    font-size: 1.1rem;
    letter-spacing: 1.3px;
}

.space-left {
    margin-left: 19px;
    display: inline-block;
}